.ol-card {
    width: 400px;
    max-width: 100%;
    // min-height: 530px;
    height: auto;
    background-color: #000;
    padding: 16px;
    border-radius: 5px;
    // margin: 10px 35px 0 35px;
    position: relative;


    * {
        box-sizing: border-box;
    }

    h2 {
        margin: 0;
        font-size: 1rem;
    }

    .ol-card-container {
        height: 100%;
        position: inherit;
        padding: 7px;
        background-color: #d6d0c7;
        border-radius: 10px;
        background-image: url(https://image.ibb.co/dFcNx7/tile_bg_2.jpg);
    }

    .ol-card-body {
        position: inherit;
        padding: 3px;
        color: #000;
        display: flex;
        flex-direction: column;
        height: 100%;

        .ol-player-name,
        .ol-player-class {
            padding: 3px;
            background: #ddd;
            border-radius: 8px / 20px;
            box-shadow: -2px 0px 2px rgba(0 0 0 / .5);

            div {
                padding: 5px 8px;
                position: relative;
                border: 2px solid #000;
                border-radius: 10px / 20px;
                box-shadow: inset 2px -3px 0 #aaa, inset -1px 1px 0 #fff;
            }
        }

        .ol-player-class {
            margin-top: -2px;
        }

        .ol-player-avatar,
        .ol-player-details {
            border-top: none;
            width: calc(100% - 10px);
            margin: 0 auto;
            margin-top: -2px;
            padding: 3px;
            background: #ddd;
            box-shadow: -2px 0px 2px rgba(0 0 0 / .5);

            div {
                border: 2px solid #000;
                min-height: 110px;
                display: flex;
                align-items: center;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .ol-player-details {
            flex-grow: 1;

            div {
                padding: 10px 7px;
                background-color: #d3dddd;
                height: 100%;
            }
        }
    }
}